

hr {
    border: none;
    height: 10px; /* Adjust the height of the line */
  /*  background: linear-gradient(to right, #d11c1c, #d6d0cb); */  /* Adjust gradient colors */
  background: linear-gradient(to right, red, blue, purple, white); /* Adjust gradient colors */

    margin: 20px 0; /* Adjust the margin as needed */
}

.line hr{
    border: none;
    height: 10px; /* Adjust the height of the line */
  /*  background: linear-gradient(to right, #d11c1c, #d6d0cb); */  /* Adjust gradient colors */
 background: linear-gradient(to right, #d33216,#1f72ec, #616b86 ,#9c33e3, #fbc33e, purple, #f77958, #fdf5e6);  /* Adjust gradient colors */
/*
background: linear-gradient(to right, #fc4a1a, #f7b733);
*/
    margin: 20px 0; /* Adjust the margin as needed */
}

.line2 hr{
    border: none;
    height: 10px; /* Adjust the height of the line */
  /*  background: linear-gradient(to right, #d11c1c, #d6d0cb); */  /* Adjust gradient colors */
  background: linear-gradient(to right, #654ea3, #eaafc8);



    margin: 20px 0; /* Adjust the margin as needed */
}




/*  form css  starts from here  */ /* ************************************ */

/* Container */
.container{

    display: flex;
    height:900px;
    width: 1000px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 50px;
   box-shadow: 15px 15px 20px white ;  /*  black  */   


/*
-webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
box-shadow: -1px 1px 5px 9px  rgba(255,255,255, 0.9);
*/
}

/*  Login form */
.form
{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: grey;  /* to change text color backroung in form  */
    color: white;     /* text color defined */

}

.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}

.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px;
    outline: none;
border-radius: 20px;
color: white;
background-color: black;
}

#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
color: white;
font-weight: bold;
border: none;
outline: none;
border-radius: 20px;
}

#submit:hover{
    cursor: pointer;
    background-color: #750000;

}

.form a{
    text-decoration: none;  /* this will stop undeline for the link */
    color: black;
    margin-top: 20px;
    color: white;
}

.form a:hover{
    color: #fd4e4e;
}

/* right side  */

.side{
    display: flex;
    

    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: skyblue;
    background-size: cover;
    
}
.side img{
    width:500px ;
    height: 900px;


}

.vega
{

    font-size: 1rem;
      padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px;
    outline: none;
border-radius: 20px;
color: white;
background-color: black;
    

}

.optgroup.option.label
{    font-size: 1rem;
      padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px;
    outline: none;
border-radius: 20px;
color: white;
background-color: black;
    
}
.select {
    width:200px;
}

/*  form css  ends from here  */ /* ************************************ */


/* styles.css */  /* main web page css starts from here ******************************/

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
  }

 
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;


    height: 100vh;
    background-color: black;
 /* background-color: rgba(72, 74, 70,0.9);  */ 
    
    /*
    background-image: url('https://images.unsplash.com/photo-1699455790015-da3e113241f6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
*/background-position: center;
background-size: cover;
background-repeat: no-repeat;
  }
  

  
 /*   header css start  */


 li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

a:hover{
    color: orange;
  
}


header{
    margin-top: 40px;
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
    gap: 3rem;
   
  
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px; /* Adjust the margin as needed */
    width: 50px;
    height: 50px;
    
}

.logo .image-text {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.navbar .links {
    margin-left: 0px;    /* right now not needed if wnat to remove than remove */
    margin-right: 100px;   /*  this is for all centre links remove if not needed */
    display: flex;
    gap: 2rem; /* Removed the space between 2 and rem */
}



.navbar .toggle_btn{
    color: white;
    font-size: 3rem;
    cursor:pointer;
    display: none;
}


.action_btn{
    background-color: black;
    color:  #ff3c1b ;
    padding:0.5rem 1rem ;
    border: none ;
    outline: none;
    border-radius: 0 10px 0 10px; 
    border: 4px solid #ff3c1b; 
    font-size:1.7rem ;
    font-weight:bold ;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05 ;
    color:white ;
    background-color: rgba(228, 55, 16, 0.535);
    border: 4px solid orange; 
}




.action_btn:active{
scale:0.95 ;
}

/* dropdown menu*/

.dropdown_menu{
    display: none;
    position: absolute;
    right:2rem ;
    top:60px ;
    height: 0;
    width: 300px ;
    background: rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(15px);
    border-radius: 10px ;
    overflow: hidden;
    transition: height 0,2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 325px;

}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center ;
    justify-content:center ;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;

}

/* HERO */

 .hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.hero p{
    font-size: 1.5rem;
}


/* resposive design */
@media (max-width:1236px)  /*  992*/
{
    .navbar .links ,
     .navbar .action_btn{
display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media (max-width:576px) 
{
   .dropdown_menu{
    left: 2rem;
    width: unset;
   }
}

 /*   header css end  */


 
  
  .hero {
    background-image: url('r1.jpg');
    background-size: cover;
    height: 800px;   /* 400 px  */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    text-align: center;
    
  }
  
  .hero-content h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .cta-button:hover{

    scale: 1.05 ;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
  }
  
  .feature {
    text-align: center;
    color: #fff;

  }
  
  .feature h2 {
    font-size: 40px;
    margin-bottom: 10px;
    
  }
  
  .feature p {
    
    color: aqua;
    width: 40rem;
    text-align: left;  /* change if you want left */
    font-size: 25px;
    word-wrap: break-word;
    word-spacing: 9px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
   /* Two-image section styles */
   .two-images {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 50px 0;  
    
}

 /* image is the class name we gave to div and img is the original tag*/


.image {
    width: 25%; /* Adjust the width as needed */
   /* height: 800px;*/
    /* border-radius: 50%;  */
    overflow: hidden;
}

.image img {
    width: 100%;
  /*    border-radius: 50%;   */
}

.image p{
    color: white;
    font-size: 22px;
    font-family: Arial, sans-serif;
}


.audio
{
    display: block;
}

/*   footer starts from her START FOOTER  */
/********************/ /*************************************************/


.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 50px 'Open Sans', cursive;
	margin: 0;
    font-family: Open Sans;
}

.footer-distributed h3 span{
	color:  lightseagreen;
   
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
  font-family: 'Baloo Bhai 2', cursive; 
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-links a:hover,
    .footer-distributed .footer-links a.active {
        text-decoration: underline;
        color: lightblue;
    }

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
   
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
    font-family: 'Baloo Bhai 2', cursive; 
    
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
    font-family: 'Baloo Bhai 2', cursive; 
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
    font-family: 'Baloo Bhai 2', cursive; 
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-family: 'Baloo Bhai 2', cursive; 
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
    font-family: 'Baloo Bhai 2', cursive; 
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
    font-family: 'Baloo Bhai 2', cursive; 
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
    font-family: 'Baloo Bhai', cursive;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

  .body{
    font: bold 14px sans-serif;
  }




/* footer ends from her START END */

* styles.css */  /* main web page css starts from here ******************************/
